server {
    listen       8080;
	server_name localhost;    
    
    # Allows non-standard headers like SMGOV_USERGUID
    ignore_invalid_headers off;

	# fix for some headers not going through
	underscores_in_headers on;
	
    ssl on;
	
	ssl_certificate /var/run/secrets/service-cert/tls.crt;
    ssl_certificate_key /var/run/secrets/service-cert/tls.key;
	
	
	add_header Strict-Transport-Security "max-age=31536000; includeSubDomains";
	
    location /dynamics/ {
	
        # proxy all traffic to this URL, 
        # note the trailing slash strips out the /proxy path on 
        # the request to the upstream server
        proxy_pass $DYNAMICS_PROXY_URL;
		proxy_set_header Authorization $DYNAMICS_AUTHORIZATION;
			
		
        # Ensure HTTP get passed thru
        proxy_pass_request_headers on;
                
		${HTTP_BASIC}
    }
	
	location /sharepoint/ {
	
        # proxy all traffic to this URL, 
        # note the trailing slash strips out the /proxy path on 
        # the request to the upstream server
        proxy_pass $SHAREPOINT_PROXY_URL;
		proxy_set_header Authorization $SHAREPOINT_AUTHORIZATION;
				
        # Ensure HTTP get passed thru
        proxy_pass_request_headers on;
                
		${HTTP_BASIC}
    }
    
    # For status of ngnix service
    location /nginx_status {
        # Enable Nginx stats
        stub_status on;
        # Only allow access from localhost
        # allow all
        #127.0.0.1;
        # Other request should be denied
        #deny all;
        # No need to log this request, its just noise
        access_log off;
    }


}
