server {
    listen       8080;
    server_name  _;
    
    # Allows non-standard headers like SMGOV_USERGUID
    ignore_invalid_headers off;

    ssl on;
	
	ssl_certificate /opt/app-root/etc/nginx.conf.d/localhost.crt;
    ssl_certificate_key /opt/app-root/etc/nginx.conf.d/localhost.key;
	
	server_name localhost;
	add_header Strict-Transport-Security "max-age=31536000; includeSubDomains";
	
    location / {
	
        # proxy all traffic to this URL, 
        # note the trailing slash strips out the /proxy path on 
        # the request to the upstream server
        proxy_pass $PROXY_URL;
		proxy_set_header Authorization $AUTHORIZATION;
				        
        # Ensure HTTP get passed thru
        proxy_pass_request_headers on;
                
		${HTTP_BASIC}
    }
    
    # For status of ngnix service
    location /nginx_status {
        # Enable Nginx stats
        stub_status on;
        # Only allow access from localhost
        # allow all
        #127.0.0.1;
        # Other request should be denied
        #deny all;
        # No need to log this request, its just noise
        access_log off;
    }


}
